<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>
  <div class="text-center">
    Location
  </div>
  <div class="container">
    <%= form_for @room do |f| %>

    <div class="text-center">
      <div class="form-group">
        <label>Address</label>
        <%= f.text_field :address, placeholder: "What is your address?", required: true %>
      </div>
    </div>

      <div class="text-center">
        <%= f.submit "Save" %>
      </div>

    <% end %>
  </div>

</div>
